version: 0.5.{build}
image: Ubuntu1804
stack: node 14
build_script:
- sh: >-
    npm i

    npm i vsce -g

    node ./build/prepare-version.js

    node ./build/prepare.js

    vsce package -o VSCode-EmmyLua.vsix
artifacts:
- path: '*.vsix'
