version: 0.4.{build}
image: Ubuntu1804
stack: node 12
build_script:
- sh: >-
    npm i

    npm i vsce -g

    node ./build/prepare-version.js

    node ./build/prepare.js

    vsce package
artifacts:
- path: '*.vsix'
