name: Node CI

on: 
  push:
    branches:
      - master
    tags:
      - "*.*.*"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Use Node.js 14.x
      uses: actions/setup-node@v2
    - name: npm install
      run: npm i
      env:
       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: build
      run: |
        npm i
        npm i vsce -g
        node ./build/prepare-version.js
        node ./build/prepare.js
        npx vsce package -o VSCode-EmmyLua.vsix
    - name: Upload
      uses: actions/upload-artifact@v2
      with: 
        name: VSCode-EmmyLua
        path: ${{ github.workspace }}/VSCode-EmmyLua.vsix
  
  release:
    name: Upload Release
    needs: [build]
    runs-on: [ubuntu-18.04]
    steps:
      - name: Download
        uses: actions/download-artifact@v2
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: VSCode-EmmyLua
          draft: false
          generate_release_notes: true
          files: |
            VSCode-EmmyLua.zip
          token: ${{ secrets.RELEASE }}
  publish:
    runs-on: ubuntu-latest
    needs: build
    if: success() && startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v2
      - run: npx vsce publish ${{ github.ref }} --packagePath $(find . -iname *.vsix)
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
