name: Node CI

on: 
  push:
    branches:
      - master
    tags:
      - "*.*.*"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Use Node.js 14.x
      uses: actions/setup-node@v2
    - name: npm install
      run: npm i
      env:
       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: build
      run: |
        npm i
        npm i vsce -g
        node ./build/prepare-version.js
        node ./build/prepare.js
        npx vsce package -o VSCode-EmmyLua
    - name: Upload
      uses: actions/upload-artifact@v2
      with: 
        name: VSCode-EmmyLua
        path: ${{ github.workspace }}/VSCode-EmmyLua.vsix
  publish:
    runs-on: ubuntu-latest
    needs: build
    if: success() && startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v2
      - run: npx vsce publish ${{ github.ref }} --packagePath $(find . -iname *.vsix)
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
